<h1>Friends index!</h1>

{{! The context here is the controller (soon to be dead) }}
<h2>
  Total friends: {{ model.length }}
</h2>

<ul>
  {{# each model as |friend|}}
  <li>{{ friend.id }} - {{ friend.firstName }} {{ friend.lastName }}</li>
  {{/ each}}
</ul>
