<table class="primary">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th>Borrowed since</th>
      <th{{action "toggleReturned"}}>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredResults as |article|}}
    {{articles/article-row
    article=article
    save="save"
    articleStates=possibleStates}}
    {{/each}}
  </tbody>
</table>
